<%= render 'layouts/main_navbar' %>

<div class="container" align="center" style="padding: 1% 0;">

	<p> In each expansion, a slew of new alien races explode onto the galactic scene.
		Each expansion contains between 20 and 30 new alien races and often contains
		ships in a new colour which allows more people to play. Several of the expansions
		also contain other variants on normal gameplay.</p>

	<div class="container text-center" style="padding: 2% 0;">
		<div class="row">
			<% @expansions.each do |expansion| %>
				<div class="col-sm-4">
					<a href="#" class="thumbnail">
						<%= image_tag("#{expansion.name}.png".gsub(" ", "_").downcase(), size: "140") %><br>
						<h5><%= "#{expansion.name} (#{expansion.published})" %></h5>
					</a>
				</div>
			<% end %>
		</div>
	</div>

</div>
