<%= render 'layouts/main_navbar' %>

This site is a work in progress. You can take a look at
<a href="https://github.com/beckman94/cosmicdb" target="_blank">the source code</a>
if you like or you can find out more about me on my
<a href="https://beckman94.github.io/" target="_blank">personal website</a>.
The Cosmic Encounter trademark is owned by Eon Products inc. While the content available on this
site was taken from boardgamegeek.com, Fantasy Flight Games retains original ownership.
No profit is made from this site. I can be contacted at
<a href="mailto:ras.beckman@gmail.com">ras.beckman@gmail.com</a>
