<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
      </button>
    </div>
      <div class= "collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'CosmicDB', root_path, class: "navbar-brand" %></li>
            <li><%= link_to 'Aliens', aliens_path %></li>
            <li><%= link_to 'Expansions', expansions_path %></li>
          </ul>
      </div>
    </div>
</nav>
